body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b3e5fc; /* Himmelblau */
}

#gameArea {
    position: relative;
    width: 700px;
    height: 700px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #e0f7fa; /* Helle Wasserfarbe */
}

.fish, .seaweed {
    position: absolute;
    font-size: 50px; /* Größe der Emojis */
}